<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <testsuite name="Alibaba Cloud Tablestore Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="INTEGRATION_TEST_ENABLED" value="false"/>
        <env name="ACS_ACCESS_KEY_ID" value=""/>
        <env name="ACS_ACCESS_KEY_SECRET" value=""/>
        <env name="ACS_DEFAULT_REGION" value="us-west-1"/>
        <env name="TS_ENDPOINT" value=""/>
        <env name="TS_INSTANCE" value=""/>
    </php>
</phpunit>
